* {
    font-family: ReformaGrotesk;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body{
    background-color: #141414;
}
a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .03em;
    transition: color .25s linear;
    box-sizing: border-box;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.text{
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.text--fz_24{
    font-size: 24px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 120%;
    font-weight: 500;

}
.title{
    font-size: 52px;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 15px;
}
.justify-content-between{
    justify-content: space-between;
}
.d-flex{
    display: flex;
}
.header{
    background-image: url("../images/header-bg.png");
    margin-bottom: 180px;
}
.header-nav{
    padding-top: 40px;
}
.main-nav__link:hover{
    color: #DB3138;
}
.main-nav__item:not(:last-child){
    margin-right: 40px;
}
.intro{
    text-align: center;
    margin: 150px auto 0;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.intro__title{
    color: #DB3138;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 150px;
    font-weight: bold;
}
.intro__image{
    margin: -20px auto 0;
}
.intro__text{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
}
.link{
    width: 120px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: .05em;
    font-size: 22px;
    font-weight: normal;
}
.link::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 61px;
    top:-15px;
    left: -25px;
    background-color: #DB3138;
    z-index: -1;
    transition: width .3s linear;
}
.link:hover::before{
    width: 140%;
}
.contact{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 133px;
    text-align: center;
}
.contact__item{
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 188px 25px;
}
.contact__item::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 214px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    right: 0;
    bottom: 0;
    top: 0;
}
.contact__title{
    font-size: 18px;
    margin-bottom: 15px;
}
.contact__text{
    font-size: 24px;
    color: #DB3138;
}
.achievements{
    gap: 24px;
}
.achievements__story,
.achievements-wrapper{
    flex-basis: 50%;
}
.achievements__story > img{
    margin: 40px 0 60px;
}
.rating__item{
    padding: 25px 20px 35px;
    border: 1px solid #898989;
    text-align: center;
    border-collapse: collapse;
}
.rating__item > img + p{
    margin-top: 15px;
}
.rating:nth-child(2){
    margin-top: 40px;
}
.rating__title,
.rating__title span{
    color: #DB3138;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}
.rating__title span{
    font-size: 52px;
}
.rating-text{
    text-transform: none;
}
.racing-competitions{
    margin-top: 180px;
    margin-bottom: 200px;
}
.racing-competitions__slider{
    position: relative;
}
.slider-inner{
    display: flex;
    gap: 24px;
    position: relative;
}
.slider__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.slider__text{
    position: absolute;
    bottom: -50px;
    text-align: center;
    z-index: 2;
}
.slider__text::after{
    content: '';
    position: absolute;
    width: 366px;
    height: 70px;
    background-color: #DB3138;
    top: -25px;
    z-index: -1;
    left: -67px;
}
.slider-btn{
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: transparent;
    border: 1px solid #DB3138;
}
.slider-btn::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 10;
    top: 0;
    right: 0;
    transform: rotate(135deg);
    background: url("../images/arrow.svg") no-repeat center center;
}
.slider-btn--prev{
    left: -100px;
}
.slider-btn--next{
    right: -100px;
}
.slider-btn--next.slider-btn::after{
    right: -2px;
    transform: rotate(-45deg);
    top: -4px;
}
.features__wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 135px;
}
.features__list{
    flex: 1 0 50%;
}
.features__item:not(:last-child){
    margin-bottom: 105px;
    position: relative;
}
.features__item:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 147px;
    height: 15px;
    background: url("../images/decor.svg") no-repeat center;
    top: 210px;
    left: 40%;
}
.features__item:nth-child(2)::after{
    top: 240px;
}
.item-features__top{
    display: flex;
    align-items: start;
    gap: 35px;
    margin-bottom: 25px;
}
.features__title{
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-height: 90px;
}
.features__slider > .slider-inner--features .slider__text--features{
    text-align: center;
    margin-top: 50px;
}
.features__slider > .buttons-wrapper{
    position: absolute;
    right: -122px;
}
.features__slider > .buttons-wrapper > .slider-btn{
    top: unset;
    bottom: 5px;
}
.features__slider > .buttons-wrapper > .slider-btn--next{
    right: 25px;
}
.features__slider > .buttons-wrapper > .slider-btn--prev{
    left: unset;
    right: 590px;
}
@media (max-width: 1569px) {
    .features__list{
        display: flex;
        gap:40px;
        justify-content: space-between;
    }
    .features__item:not(:last-child)::after{
        display: none;
    }
    .features__item{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex: 1 1 30%;
    }
    .features__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .features__slider > .buttons-wrapper{
        right: 25%;
    }
    .text--fz_24{
        width: unset;
    }
    .features__wrapper {
        gap: unset;
    }
}
.features{
    margin-bottom: 800px;
}




