* {
    font-family: ReformaGrotesk;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body{
    background-color: #141414;
}
a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .03em;
    transition: color .25s linear;
    box-sizing: border-box;
}
.main-nav__link:hover{
    color: #DB3138;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 15px;
}
.justify-content-between{
    justify-content: space-between;
}
.d-flex{
    display: flex;
}
.header{
    background-image: url("../images/header-bg.png");
    margin-bottom: 180px;
}
.header-nav{
    padding-top: 40px;
}
.main-nav__item:not(:last-child){
    margin-right: 40px;
}
.intro{
    text-align: center;
    margin: 150px auto 0;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.intro__title{
    color: #DB3138;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 150px;
    font-weight: bold;
}
.intro__image{
    margin: -20px auto 0;
}
.intro__text{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
}
.link{
    width: 120px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: .05em;
    font-size: 22px;
    font-weight: normal;
}
.link::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 61px;
    top:-15px;
    left: -25px;
    background-color: #DB3138;
    z-index: -1;
    transition: width .3s linear;
}
.link:hover::before{
    width: 140%;
}
.contact{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 133px;
    text-align: center;
}
.contact__item{
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 188px 25px;
}
.contact__item::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 214px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    right: 0;
    bottom: 0;
    top: 0;
}
.text{
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.contact__title{
    font-size: 18px;
    margin-bottom: 15px;
}
.contact__text{
    font-size: 24px;
    color: #DB3138;
}
.achievements{
    gap: 24px;
}
.achievements__title{
    font-size: 52px;
}
.achievements__story,
.achievements-wrapper{
    flex-basis: 50%;
}
.achievements__story > img{
    margin: 40px 0 60px;
}
.achievements__text{
    font-size: 24px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 120%;
    font-weight: 500;
    width: 526px;
}
.rating__item{
    padding: 25px 20px 35px;
    border: 1px solid #898989;
    text-align: center;
    border-collapse: collapse;
}
.rating__item > img + p{
    margin-top: 15px;
}
.rating:nth-child(2){
    margin-top: 40px;
}
.rating__title,
.rating__title span{
    color: #DB3138;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}
.rating__title span{
    font-size: 52px;
}
.rating-text{
    text-transform: none;
}